<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="my_container">
    <div class="my_row">
        <div class="my_week_to-do my-day">
            <div class="my_text">
                <p id="myDay">TO-DO</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'week' %}
                                <input type="checkbox" id="myCheck" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'week' %}
                                <input type="checkbox" id="myCheck" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">MONDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'monday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'monday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}


                </ul>
            </div>

        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">TUESDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'tuesday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'tuesday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">WEDNESDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'wednesday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'wednesday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <div class="my_row">
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">THURSDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'thursday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }} "
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'thursday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">FRIDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'friday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'friday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">SATURDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">

                            {% if item.status and item.day == 'saturday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'saturday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ item.day }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="my_block my-day">
            <div class="my_text">
                <p id="myDay">SUNDAY</p>
            </div>
            <div class="myList">
                <ul>
                    {% for item in items %}
                        <div class="my_check">
                            {% if item.status and item.day == 'sunday' %}
                                <input type="checkbox" id="myCheckRound" checked data-source="{{ item.id }}">
                                <span class="completed" data-source="{{ item.id }}"
                                      data-content="{{ item.task }}"
                                      data-day="{{ 'sunday' }}">{{ item.task }}</span>
                            {% elif (not item.status) and item.day == 'sunday' %}
                                <input type="checkbox" id="myCheckRound" data-source="{{ item.id }}">
                                <span data-source="{{ item.id }}" data-content="{{ item.task }}"
                                      data-day="{{ 'sunday' }}">{{ item.task }}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
    <!--buttonclass="add-btn"onclick="addItem('list2')"+button-->

</div>
</body>
</html>